*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: #3A3845;
color: #ac5a3a;
}
body{
	background-color: #F7CCAC;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#C69B7B; 
}

.center{
	width: 90%;
	background-color: #C69B7B;

}
.container
{
	background-color: rgb(179, 122, 68);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
	color: #3A3845;
}
#myNavbar ul li a {
	color: #C69B7B;
}
.navbar-brand{
font-size: 30px;	
}